.formSpaceAdd {
  width: 100%;
  display: flex;
  margin: 20px 0 10px;
}
.formSpaceAdd input[type="text"] {
  margin-right: 1%;
}
.txtWarning {
  color: #f5222d;
}
.formEditSpaceName button {
  margin-left: 8px;
}
.tblSpaces tr {
  border-bottom: 1px solid #ddd;
}
.tblSpaces td {
  padding: 10px 5px;
  color: #555;
}
a,
a:hover,
a:visited {
  color: #333;
}
.tblSpaces .modifiedTime {
  color: #999;
}
.btnArea {
  text-align: right;
}

/* search */
.searchBox {
  clear: both;
  width: 100%;
  height: 45px;
  background: rgb(230, 230, 240);
}

.searchBox .ant-input-affix-wrapper {
  font-size: 20px;
  width: 100%;
  height: 100%;
}
.searchBox .ant-input-lg {
  font-size: 14px;
}

.searchBox .ant-input {
  border: 0;
  outline: 0;
  background: transparent;
}
